<section class="discount-banner text-center text-white py-1">
  <div class="container">
    <span class="me-2">Exclusive Offer</span>
    <strong>Get 15% off</strong>
    <span class="ms-2">Use code: LUXE15</span>
  </div>
</section>